<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFRzmMOOX7Rh5RPD958xFFObmE05jO_5w</string>
	<key>GCM_SENDER_ID</key>
	<string>1027895213174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hearbat</string>
	<key>PROJECT_ID</key>
	<string>hearbat-408909</string>
	<key>STORAGE_BUCKET</key>
	<string>hearbat-408909.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027895213174:ios:5333d1b686e0df695eb357</string>
</dict>
</plist>